* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: initial;
}

.box {
	width: 360px;
	height: 640px;
	border: solid 1px #ededed;
	background: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
}

@media screen and (max-width: 480px) {
	.box {
		height: 100vh;
		width: 100%;
	}
}

.header {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	border-bottom: solid 1px #ededed;
}

.header img {
	height: 16px;
	width: auto;
}

.header-logo img {
	height: 14px;
}

.content {
	height: calc(100% - 95px);
	overflow-y: auto;
}

.content-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.content img {
	width: 240px;
	height: auto;
}

.content span {
	padding: 0 0 30px 0;
}

.content a {
	display: inline-block;
	padding: 14px 88px;
	background: #00ab6b;
	border-radius: 6px;
	text-align: center;
	color: #fff;
}


.fotter {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: solid 1px #ededed;
}

.fotter-menu {
	width: 20%;
}

.fotter-menu a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 10px;
}

.fotter-menu img {
	width: 16px;
	height: auto;
}

.fotter-menu span {
	display: inline-block;
	padding-top: 3px;
}

/* Coba Page */
/* Coba Page */
/* Coba Page */

.content-baru {
	/* Memungkinkan untuk melakukan penghitungan untuk menentukan nilai properti CSS */
	height: calc(100% - 95px);
	display: flex;
	align-items: center;
	justify-content: center;
	/* Membuat urutan menjadikan kolom kebawah */
	flex-direction: column;
}

.button {
	background-color: rgb(255, 255, 255);
	border: 1px;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 6px;
}

/* Search Page */
/* Search Page */
/* Search Page */

.header-search {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

/* Mengatur img header dengan memanggil class(selector) */
.header-nav {
	height: 16px;
	width: auto;
}

.header-title {
	height: 14px;
	position: relative;
	text-align: center;
	justify-content: space-between;
	width: -webkit-fill-available;
	font-weight: bold;
}

input,
button {
	font: inherit;
	border: 4;
	margin-top: 10px;
}

form {
	display: flex;
	grid-column: 2;
}

input {
	flex-grow: 1;
	padding: 5px 8px;
	margin-left: 20px;
	margin-right: 5px;
}

button {
	padding: 5px 8px;
	background: #00ab6b;
	color: #ffffff;
	border: none;
	margin-right: 20px;
}

/* .search-padding {
	padding: 0 20px;
}

.search-button {
	height: 24px;
	border: 1px solid #CACCCF;
	border-radius: 6px;
} */

.search-name {
	margin-left: 20px;
}

.search-content {
	/* 	background-color: #00ab6b;
 */
	display: flex;
	margin: 20px 20px;
	border: 0.1px #d8d8d8 solid;
	border-radius: 10px;
}

.logo-search {
	/* 	background-color: red;
 */
	width: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: auto;
	border-left: 5px solid #00ab6b;
	border-radius: 10px 0 0 10px;
}

.logo-search-blue {
	/* 	background-color: red;
	 */
	width: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: auto;
	border-left: 5px solid #2478B4;
	border-radius: 10px 0 0 10px;
}

.logo-search-purple {
	/* 	background-color: red;
		 */
	width: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: auto;
	border-left: 5px solid #9343C8;
	border-radius: 10px 0 0 10px;
}

.search-tipe {
	margin: -18px 10px 0 10px;
}

/* Transaksi Page */
/* Transaksi Page */
/* Transaksi Page */

.header-transaksi {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

.navbar {
	display: flex;
	width: 100%;
}

.transaksi-navbar {
	margin-top: 10px;
	display: inline-block;
	text-align: center;
	width: 50%;
}

.transaksi-navbar:hover {
	color: #00ab6b;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: #00ab6b;
}

.transaksi-filter {
	text-align: right;
	margin-right: 20px;
	color: #00ab6b;
	margin-top: 0px;
	display: flex;
	margin-left: auto;
}

.garis-transaksi {
	border-bottom: 0.1px #d8d8d8 solid;
	margin-top: 15px;
}

.tgl-transaksi {
	margin-top: -20px;
	color: rgb(190, 190, 190);
}

.transaksi-history {
	display: flex;
}

.logo-transaksi-history {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.nama-transaksi-history {
	border-radius: 10px;
	display: block;
	width: calc(100% - 40px);
	margin-left: 20px;
}

.nama-reksadana {}

.pembelian-reksadana {}

.jumlah-transaksi-history {
	margin-right: 20px;
	color: #00ab6b;
}

/* Home Page */
/* Home Page */
/* Home Page */

.nilai {
	width: 100%;
	height: auto;
	top: 45px;
	background-color: white;
}

.nilai-porto-lock {
	color: #000000;
	margin: 0 20px;
	width: 100%;
	display: flex;
}

.nilai-porto {
	width: 80%;
}

.icon-lock {
	width: 20px;
	display: flex;
}

.keuntungan-hasil {
	display: flex;
	color: #000000;
	margin: 0 20px;
}

.keuntungan {
	display: inline-block;
	width: 50%;
}

.hasil {
	display: inline-block;
	width: 50%;
	text-align: end;
}

.nilai-teks {
	color: #B5B5BB;
}

.persentase {
	color: red;
}

.garis {
	border-bottom: 0.1px #d8d8d8 solid;
}

.topup {
	text-align: center;
	color: #00ab6b;
	display: flex;
	justify-content: center;
}

.lihat-porto {
	display: flex;
	margin: 0 20px;
}

.lihat-porto-teks {
	width: 100%;
	color: #00ab6b;
}

.lihat-porto-icon {
	display: flex;
	width: 24px;
	align-self: right;
}

.dana {
	display: flex;
	width: 100%;
	height: auto;
	background-color: #ececec;
}

.dana-tabungan {
	margin: 10px 20px 10px 20px;
	width: calc(100% - 20px);
	height: auto;
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px solid #757575;
}

.dana-nilai {
	color: #000000;
	margin: 0 20px;
	width: 60%;
	display: inline-block;
}

.dana-icon {
	height: auto;
	width: 24px;
	display: inline-flex;
}

.content-rekomendasi {
	margin: 0 20px;
}

.rekomendasi-robo-pensiun {
	width: 100%;
	height: auto;
	display: flex;
	border: 1px #d8d8d8 solid;
	border-radius: 10px;
}

.content-rekomendasi-robo-pensiun {
	display: flex;
	width: 100%;
}

.logo-rekomendasi-robo {
	width: 24px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-left: 24px;
}

.rekomendasi-keterangan {
	width: 80%;
	margin-left: 24px;
}

.rekomendasi-ubah {
	color: #00ab6b;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-right: 20px;
}

.content-danapensiun {
	display: flex;
	margin: 20px 20px;
	border: 0.1px #d8d8d8 solid;
	border-radius: 10px;
}

.logo-content-danapensiun {
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	justify-content: center;
	border-left: 5px solid #00ab6b;
	border-radius: 10px 0 0 10px;
}

.logo-content-danapensiun-obligasi {
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	justify-content: center;
	border-left: 5px solid #2478B4;
	border-radius: 10px 0 0 10px;
}

.logo-content-danapensiun-saham {
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	justify-content: center;
	border-left: 5px solid #9343C8;
	border-radius: 10px 0 0 10px;
}

.content-danapensiun-manulife {
	margin: -15px 10px 0 10px;
	width: 55%;
}

.persentase-danapensiun {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-right: 15px;
}

.icon-danapensiun {
	display: flex;
	width: 24px;
	margin: 10px;
}

.rekomendasi-investasi {
	border-radius: 10px;
	padding: 14px 88px;
	margin: 0 20px;
	text-align: center;
	display: flex;
	margin: auto;
}

.pilih-reksadana {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.pilih-reksadana {
	text-align: center;
    justify-content: center;
}

.pilih-reksadana-opsi {
	width: 100%;
}

/* Portofolio Page */
/* Portofolio Page */
/* Portofolio Page */

.header-portofolio {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: #f0fff9;
}

.investasi-sekarang {
	width: 100%;
	height: auto;
	position: absolute;
	top: 45px;
	background-color: #f0fff9;
}

.porto-tabungan {
	margin-top: 220px;
	border-radius: 10px;
	border: 1px solid #dadada;
	display: flex;
	width: calc(100% - 40px);
	margin-left: 20px;
}

.logo-dana-tabungan {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.teks-dana-tabungan {
	width: calc(100% - 100px);
	margin-left: 10px;
	margin-right: 10px;
}

.porto-gabungan {
	width: 100%;
	display: flex;
}

.nilai-investasi {
	width: 50%;
}

.nilai-keuntungan {
	width: 50%;
	text-align: right;
}

.tambah-portofolio {
	margin: 10px 20px 0px 20px;
	border-radius: 10px;
	border: 1px solid #dadada;
	height: auto;
	text-align: center;
	color: #00ab6b;
	display: flex;
	justify-content: center;
}

/* Profil Page */
/* Profil Page */
/* Profil Page */

.header-profil {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

.profil-section {
	display: flex;
	width: calc(100% - 40px);
	margin-left: 20px;
	/* 	background-color: #00ab6b;
 */
}

.profil-name {
	margin-left: 10px;
	/* 	background-color: yellow;
 */
}

.logo-profil {
	/* 	background-color: red;
 */
	display: flex;
	align-items: center;
	justify-content: center;
}

.profil-garis {
	border-bottom: 4px #d8d8d8 solid;
}

.profil-keterangan {
	display: flex;
	width: calc(100% - 40px);
	margin-left: 20px;
	/* 	background-color: #00ab6b; */
}

.logo-keterangan {
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.name-keterangan {
	margin-left: 10px;
	/* 	background-color: yellow; */
	width: 100%;
	cursor: pointer;

}

.logo-next {
	/* 	background-color: red; */
	display: flex;
	cursor: pointer;
}

.garis-keterangan {
	border-bottom: 0.1px #d8d8d8 solid;
}

/* The switch - the box around the slider */
.switch {
	top: 8px;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #00ab6b;
}

input:focus+.slider {
	box-shadow: 0 0 1px #02ec96;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}